<h1>About Me</h1>

<!-- <div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/OPxutprNQ5M?rel=0" frameborder="0" allowfullscreen=""></iframe>
</div> -->

<p>Hi i'm Tommy Gaessler!</p>

<p>I graduated from <a href="https://regisjesuit.com" target="_blank" class="regis-jesuit-high-school">Regis Jesuit High School</a> in may, completed the <a href="http://galvanize.com" target="_blank" class="galvanize">Galvanize Web Development</a> program, and joined a startup called <a href="http://airstreamhealth.com" target="_blank" class="airstream-health">Airstream Health</a>!</p>

<p>AND we just started the <a href="http://techstars.com" target="_blank" class="techstars">Techstars Accelerator</a> program in Boulder!</p>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Took <a href="https://twitter.com/Jason">@Jason</a>&#39;s advice <a href="https://twitter.com/founding">@Founding</a> to join <a href="https://twitter.com/hashtag/startup?src=hash">#startup</a> (<a href="https://twitter.com/AirstreamHealth">@AirstreamHealth</a>) and go through <a href="https://twitter.com/techstars">@TechStars</a> after learning to code <a href="https://twitter.com/galvanize">@Galvanize</a>! <a href="https://twitter.com/adeoressi">@AdeoRessi</a> <a href="https://t.co/EP2pPDGU5f">pic.twitter.com/EP2pPDGU5f</a></p>&mdash; Tommy Gaessler (@tommygaessler) <a href="https://twitter.com/tommygaessler/status/824004497055907844">January 24, 2017</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
