<h1>Contact</h1>

<h4 class="text-center alert alert-success" ng-show="contactCtrl.message">{{ contactCtrl.message }}</h4>

<p ng-hide="contactCtrl.message">Feel free to reach out, I'd love to hear from you!</p>

<form ng-if="contactCtrl.form" ng-submit="contactCtrl.SendGrid()" ng-hide="contactCtrl.message">
  <div class="form-group" ng-class="{'has-error has-feedback': contactCtrl.nameEmptyErrorMessage}">
    <label for="name">Your Name</label>
    <input type="text" class="form-control" id="name" ng-model="contactCtrl.emailObj.name" autofocus>

    <span ng-if="contactCtrl.nameEmptyErrorMessage" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

  </div>
  <div class="form-group" ng-class="{'has-error has-feedback': contactCtrl.emailEmptyErrorMessage, 'has-error has-feedback': contactCtrl.emailInvalidErrorMessage}">
    <label for="email">Your Email</label>
    <input type="text" class="form-control" id="from_email" ng-model="contactCtrl.emailObj.from_email">

    <span ng-if="contactCtrl.emailEmptyErrorMessage || contactCtrl.emailInvalidErrorMessage" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

  </div>
  <div class="form-group" ng-class="{'has-error has-feedback': contactCtrl.messageEmptyErrorMessage}">
    <label for="message">Your Message</label>
    <textarea class="form-control" rows="5" id="message" ng-model="contactCtrl.emailObj.message"></textarea>

    <span ng-if="contactCtrl.messageEmptyErrorMessage" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">
      <span ng-hide="contactCtrl.submit">Send</span>
      <span ng-show="contactCtrl.submit">Sending</span>
      <i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="contactCtrl.submit"></i>
      <span class="sr-only">Sending</span>
    </button>
  </div>
</form>
