<h1>Projects</h1>

<!-- SiteKite -->

<a href="http://sitekite.co" target="_blank">
  <img class="project-image" src="/img/sitekite.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://sitekite.co" target="_blank">SiteKite</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out SiteKite by @tommygaessler!" data-url="http://sitekite.co">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fsitekite.co&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/sitekite" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://sitekite.co" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A full-stack app using GitHub OAuth that builds portfolio websites for developers to showcase who they are, and what they’ve built.</p>
  <p>NODE.JS / EXPRESS / POSTRESQL / HTML / CSS / NUNJUCKS</p>
</div>

<!-- Fundsplash -->

<a href="http://fundsplash.com" target="_blank">
  <img class="project-image" src="/img/fundsplash.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://fundsplash.com" target="_blank">Fundsplash</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Fundsplash by @tommygaessler!" data-url="http://fundsplash.com">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Ffundsplash.com&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/fundsplash" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://fundsplash.com" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A crowd funding application for Unsplash photographers using the Stripe and Unsplash API’s.</p>
  <p>PHP / SASS / JQUERY / JAVASCRIPT / HTML</p>
</div>

<!-- KamstraFam -->

<a href="http://kamstrafam.com" target="_blank">
  <img class="project-image" src="/img/kamstrafam.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://kamstrafam.com" target="_blank">KamstraFam</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out KamstraFam by @tommygaessler!" data-url="http://kamstrafam.com">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fkamstrafam.com&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/kamstrafam" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://kamstrafam.com" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A custom WordPress site/blog I built for a client’s mission trip to Prague, Czech Republic.</p>
  <p>PHP / SASS / JQUERY / JAVASCRIPT / HTML</p>
</div>

<!-- Senior Capstone -->

<a href="http://capstone.tommygaessler.com" target="_blank">
  <img class="project-image" src="/img/seniorcapstone.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://capstone.tommygaessler.com" target="_blank">Senior Capstone</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Regis Jesuit Senior Capstone by @tommygaessler!" data-url="http://capstone.tommygaessler.com">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fcapstone.tommygaessler.com&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/regis-jesuit-senior-capstone" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://capstone.tommygaessler.com" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>Senior capstone project reflecting my life at Regis Jesuit High School.</p>
  <p>PHP / SASS / JQUERY / JAVASCRIPT / HTML</p>
</div>
<script src="//platform.twitter.com/widgets.js"></script>
