<h1>Projects</h1>

<!-- Trip Charge -->

<a href="https://itunes.apple.com/us/app/trip-charge-map-stations-along/id1186368321?mt=8" target="_blank">
  <img class="project-image" src="/img/tripcharge.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="https://itunes.apple.com/us/app/trip-charge-map-stations-along/id1186368321?mt=8" target="_blank">Trip Charge</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Trip Charge by @tommygaessler!" data-url="https://itunes.apple.com/us/app/trip-charge-map-stations-along/id1186368321?mt=8">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fhttps://itunes.apple.com/us/app/trip-charge-map-stations-along/id1186368321?mt=8&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/trip-charge" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="https://itunes.apple.com/us/app/trip-charge-map-stations-along/id1186368321?mt=8" target="_blank">App Store <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>An iPhone app that finds the closest charging stations for electric cars to you, and along a route!</p>
  <p>Swift / Go</p>
</div>

<!-- Fundsplash -->

<a href="http://fundsplash.com" target="_blank">
  <img class="project-image" src="/img/fundsplash.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://fundsplash.com" target="_blank">Fundsplash</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Fundsplash by @tommygaessler!" data-url="http://fundsplash.com">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Ffundsplash.com&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/fundsplash-backend" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://fundsplash.com" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A crowd funding app for <a href="https://unsplash.com" target="_blank">Unsplash</a> photographers!</p>
  <p>Node.js / Express / SASS / AngularJS / JavaScript / HTML</p>
</div>

<!-- SiteKite -->

<a href="http://sitekite.co" target="_blank">
  <img class="project-image" src="/img/sitekite.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://sitekite.co" target="_blank">SiteKite</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out SiteKite by @tommygaessler!" data-url="http://sitekite.co">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fsitekite.co&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/sitekite" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://sitekite.co" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A full-stack app using GitHub OAuth that builds portfolio websites for developers to showcase who they are, and what they’ve built.</p>
  <p>NODE.JS / EXPRESS / POSTRESQL / HTML / CSS / NUNJUCKS</p>
</div>

<!-- KamstraFam -->

<a href="http://kamstrafam.com" target="_blank">
  <img class="project-image" src="/img/kamstrafam.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://kamstrafam.com" target="_blank">KamstraFam</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out KamstraFam by @tommygaessler!" data-url="http://kamstrafam.com">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fkamstrafam.com&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/kamstrafam" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://kamstrafam.com" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A custom WordPress site/blog I built for a client’s mission trip to Prague, Czech Republic.</p>
  <p>PHP / SASS / JQUERY / JAVASCRIPT / HTML / SQL</p>
</div>

<!-- Senior Capstone -->

<a href="http://capstone.tommygaessler.com" target="_blank">
  <img class="project-image" src="/img/seniorcapstone.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://capstone.tommygaessler.com" target="_blank">Senior Capstone</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Regis Jesuit Senior Capstone by @tommygaessler!" data-url="http://capstone.tommygaessler.com">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fcapstone.tommygaessler.com&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/regis-jesuit-senior-capstone" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://kids247.org" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>Senior capstone project reflecting my life at Regis Jesuit High School.</p>
  <p>PHP / SASS / JQUERY / JAVASCRIPT / HTML</p>
</div>

<!-- Kids247 -->

<a href="http://kids247.org" target="_blank">
  <img class="project-image" src="/img/kids247.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://kids247.org" target="_blank">Kids247</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Kids247 by @tommygaessler!" data-url="http://kids247.org">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fkids247.org&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/kids247" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://kids247.org" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A custom WordPress website/blog I built for a client's non-profit that helps kids and families in times of divorce!</p>
  <p>PHP / SASS / JQUERY / JAVASCRIPT / HTML / SQL</p>
</div>

<!-- Habi Pets -->

<!-- <a href="http://habipets.com" target="_blank"> -->
  <!-- <img class="project-image" src="/img/habipets.png" alt="" /> -->
<!-- </a> -->

<div class="project-video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_hMKpE4CvmY" frameborder="0" allowfullscreen></iframe>
</div>

<div class="well project-well">

  <h2 class="project-title"><a href="http://habipets.com" target="_blank">Habi Pets</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Habi Pets by @tommygaessler!" data-url="http://habipets.com">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fhabipets.com&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/habipets" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://habipets.com" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A landing page and video I made for a company in the Telluride Venture Accelerator!</p>
  <p>HTML / CSS</p>
</div>

<!-- Preparing to Finish Well -->

<a href="http://preparingtofinishwell.org" target="_blank">
  <img class="project-image" src="/img/pfw.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://preparingtofinishwell.org" target="_blank">PFW</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Preparing to Finish Well by @tommygaessler!" data-url="http://preparingtofinishwell.org">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fpreparingtofinishwell.org&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/preparingtofinishwell" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://preparingtofinishwell.org" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A website I built for a client's non-profit that helps families prepare for when loved ones pass away!</p>
  <p>PHP / HTML / CSS</p>
</div>

<!-- Used Calculators -->

<a href="http://usedcalculators.co" target="_blank">
  <img class="project-image" src="/img/usedcalculators.png" alt="" />
</a>
<div class="well project-well">

  <h2 class="project-title"><a href="http://usedcalculators.co" target="_blank">Used Calculators</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Used Calculators by @tommygaessler!" data-url="http://usedcalculators.co">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fusedcalculators.co&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/usedcalculators" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://usedcalculators.co" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A Christmas themed e-commerce website I made to sell calculators!</p>
  <p>HTML / CSS</p>
</div>

<!-- Suit Up Denver -->

<!-- <a href="http://suitupdenver.org" target="_blank">
  <img class="project-image" src="/img/suitupdenver.png" alt="" />
</a> -->

<div class="project-video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/nHNMkOq5xSQ" frameborder="0" allowfullscreen></iframe>
</div>

<div class="well project-well">

  <h2 class="project-title"><a href="http://suitupdenver.org" target="_blank">Suit Up Denver</a></h2>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Suit Up Denver by @tommygaessler!" data-url="http://suitupdenver.org">Tweet</a>

  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fsuitupdenver.org&layout=button&size=small&mobile_iframe=true&appId=1356967117665542&width=59&height=20" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p>
    <a href="https://github.com/tommygaessler/suitupdenver" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a>

    <span>| </span><a href="http://suitupdenver.org" target="_blank">Deployed Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <p>A website I built for a client's non-profit that donates suits to people in need of professional business attire!</p>
  <p>HTML / CSS</p>
</div>


<script src="//platform.twitter.com/widgets.js"></script>
